:root {
  --base-root-font-size: 18px;
}
html {
  font-size: var(--base-root-font-size);
}
ul {
  list-style: none;
}
li > ul {
  padding-left: 1.5em;
  margin: 0;
  border-left: dashed 0.5px;
}

.level {
  border-radius: 50%;
  min-width: calc(var(--base-root-font-size) * 2.7);
  aspect-ratio: 1 / 1;
}

.node {
  margin: 0;
  padding: 0;
}

button#start {
  min-width: calc(var(--base-root-font-size) * 6);
  text-transform: uppercase;
}
